<li><a href="/" class="btn btn-primary navbar-btn">Reddit.js</a></li>
{{#if currentUser}}
<li class="nav-item">
  <a class="nav-link" href="/posts/new">New Post</a>
</li>
{{/if}}
{{#if currentUser}}
<li><a href="/logout">Logout</a></li>
{{else}}
<li><a href="/login">Login</a></li>
<li><a href="/sign-up">Sign Up</a></li>
{{/if}}